*{
    box-sizing: border-box;
    font-family: 'Comic Sans MS', cursive; 
}
h1{
    text-align: center;

 /* Desktop View */
}
@media(min-width: 992px){
section{
    width:27%;
    display: block;
    float: left;
    padding: 10px;
    align-items: center;
    border: 2px solid black;
    margin: 30px;
    position: relative;
    background-color: rgb(153, 153, 153);
    
}
h3{
    text-align: center;
    padding: 3px;
    position:absolute;
    top: 0px;
    right: 0px;
    margin: 0;
    margin-bottom: 20px;
    width: 50%;
    border: 2px solid black;
    border-top: none;
    border-right: none;
    
}

}
/* Tablet View */
@media (min-width: 768px) and (max-width: 991.5px){
    section{
        width: 40.5%;
        display: block;
        float: left;
        padding: 10px;
        align-items: center;
        border: 2px solid black;
        margin: 35px;
        position: relative;
        background-color: rgb(153, 153, 153);
        
        
    }
   #sus{
    width: 90%;
   }
    h3{
        text-align: center;
        padding: 3px;
        position:absolute;
        top: 0px;
        right: 0px;
        margin: 0;
        margin-bottom: 20px;
        width: 50%;
        border: 2px solid black;
        border-top: none;
        border-right: none;
        
    }  
    
}
  /* Mobile View */
  @media(max-width: 767.5px){
    section{
        margin: auto;
        width:90%;
        display: block;
        padding: 10px;
        border: 2px solid black;
        position: relative;
        background-color: rgb(153, 153, 153);
        margin-bottom: 25px;
        
    }
    h3{
        text-align: center;
        padding: 3px;
        position:absolute;
        top: 0;
        right: 0;
        margin: 0;
        margin-bottom: 20px;
        width: 45%;
        border: 2px solid black;
        border-top: none;
        border-right: none;
        overflow: none;
    }
    }


h3.chicken{
    background-color: rgb(213, 152, 152);
    color: black;
    
}

h3.beef{
    background-color: rgb(193, 69, 67);
    color: white;
   
}

h3.sushi{
    background-color: rgb(229, 209, 152);
    color: black;
    border: 1px solid thick;
   
}
p{
    margin-top: 30px;
}